# Bảo vệ file .htaccess
<files .htaccess="">
order allow,deny
deny from all
</files>

RewriteEngine On

# ErrorDocument 404$ public/404.php
ErrorDocument 404 public/404.php


RewriteRule ^Home$ index.php [L]


RewriteRule ^Login$ views/login.php [L]
RewriteRule ^Register$ views/register.php [L]



RewriteRule ^API/Login$ controllers/login.php [L]
RewriteRule ^API/Register$ controllers/reg.php [L]
RewriteRule ^API/SendAI-Chat$ controllers/chat.php [L]
RewriteRule ^API/GetMessages$ controllers/get-msg.php [L]
